In [1]:
import pandas as pd

df = pd.read_csv("/content/covid19_patient_symptoms_diagnosis.csv")
df.head()

,patient_id,age,gender,fever,dry_cough,sore_throat,fatigue,headache,shortness_of_breath,loss_of_smell,loss_of_taste,oxygen_level,body_temperature,comorbidity,travel_history,contact_with_patient,chest_pain,covid_result
0,1,52,Male,1,0,1,1,0,0,0,0,98,37.1,Diabetes,0,0,0,0
1,2,15,Male,0,0,0,1,1,0,0,0,85,37.7,Diabetes,0,1,0,0
2,3,72,Male,1,0,1,0,0,1,0,1,99,36.8,NaN,0,0,0,0
3,4,61,Female,0,0,1,1,1,0,1,1,86,36.0,NaN,1,0,0,0
4,5,21,Female,1,1,0,0,0,1,0,1,90,36.4,NaN,1,1,1,1

In [3]:
import sqlite3

# Create SQLite database
conn = sqlite3.connect("covid_data.db")

In [4]:
df.to_sql("covid_patients", conn, if_exists="replace", index=False)

5000

In [5]:
query = """
SELECT gender, COUNT(*) AS total_patients
FROM covid_patients
GROUP BY gender;
"""

pd.read_sql(query, conn)

   gender  total_patients
0  Female            2514
1    Male            2486

In [6]:
query = """
SELECT AVG(age) AS avg_age
FROM covid_patients
WHERE fever = 1;
"""

pd.read_sql(query, conn)

     avg_age
0  44.087064

In [7]:
query = """
SELECT COUNT(*) AS high_risk_patients
FROM covid_patients
WHERE fever + dry_cough + fatigue >= 3;
"""

pd.read_sql(query, conn)

   high_risk_patients
0                 824

In [8]:
conn.close()